<!--MAIN GRID-->
<main class="card col-3">
    <div class="card-image mask-rr"><a href="/#/">
            <img src="../../img/card_spotify.jpg" class="image" loading="lazy" alt="Spotify, page under construction"/>
            </a>
    </div>
    <div class="card-image mask-sc"><a href="/motion/">
        <video autoplay loop muted playsinline src="../../img/card_motion.mp4" class="image" alt="Motion Design"></video>
        </a>
    </div>
    <div class="card-image mask-rr-invert"><a href="/a-little-late-2/">
        <video autoplay loop muted playsinline src="../../img/card_lilly2.mp4" class="image" alt="A Little Late with Lilly Singh digital identity season 2"></video>
        </a>
    </div>
    <div class="card-image mask-p"><a href="/nbc-parody-art/">
        <img src="../../img/card_parodyart.jpg" class="image" loading="lazy" alt="NBC Parody Art"/>
        </a>
    </div>
    <div class="card-image"><a href="/snl/">
        <video autoplay loop muted playsinline src="../../img/card_snl.mp4" class="image" alt="Saturday Night Live social graphics"></video>
        </a>
    </div>
    <div class="card-image mask-p"><a href="/illustration/">
        <img src="../../img/card_illustration.jpg" class="image" loading="lazy" alt="Illustration"/>
        </a>
    </div>
    <div class="card-image mask-rr"><a href="/3D/">
        <img src="../../img/card_3d.jpg" class="image" loading="lazy" alt="3D Experiments" />
        </a>
    </div>
    <div class="card-image mask-sc-invert"><a href="/late-night/">
        <img src="../../img/card_lnsm.jpg" class="image" loading="lazy" alt="Late Night with Seth Meyers digital identity 2020"/>
        </a>
    </div>
    <div class="card-image mask-rr-invert"><a href="/stories/">
        <img src="../../img/card_stories.jpg" class="image" loading="lazy" alt="NBC Instagram Stories"/>
        </a>
    </div>
</main>