<!--MAIN GRID-->
<main class="card col-2">
    <div class="card-image mask-1"><a href="/a-little-late/">
        <img src="../../img/card_lilly.jpg" class="image" width="800" height="450" alt="A Little Late with Lilly Singh"/>
        </a>
    </div>
    <div class="card-image mask-2"><a href="/play/">
        <video autoplay loop muted playsinline src="../../img/card_misc.mp4" class="image" alt="Experiments with motion and illustration"></video>
        </a>
    </div>
    <div class="card-image mask-3"><a href="/ar/">
        <video autoplay loop muted playsinline src="../../img/card_ar.mp4" class="image" alt="Augmented reality lenses for Instagram"></video>
        </a>
    </div>
    <div class="card-image mask-4"><a href="/nbc-parody-art/">
        <img src="../../img/card_parody.jpg" class="image" width="800" height="450" loading="lazy" alt="NBC Parody Art"/>
        </a>
    </div>
    <div class="card-image mask-5"><a href="/3D/">
        <img src="../../img/card_3d.jpg" class="image" width="800" height="450" loading="lazy" alt="3D Experiments" />
        </a>
    </div>
    <div class="card-image mask-2"><a href="/snl/">
        <video autoplay loop muted playsinline src="../../img/card_snl.mp4" class="image" alt="Saturday Night Live social graphics and art direction"></video>
        </a>
    </div>
    <div class="card-image mask-1"><a href="/late-night/">
        <img src="../../img/card_lnsm.jpg" class="image" width="800" height="450" loading="lazy" alt="Late Night with Seth Meyers digital identity 2020"/>
        </a>
    </div>
    <div class="card-image mask-5"><a href="/stories/">
        <img src="../../img/card_stories.jpg" class="image" width="800" height="450" loading="lazy" alt="NBC Instagram Stories"/>
        </a>
    </div>
</main>