@font-face {
  font-family: 'Gira Sans';
  src: 
    url('/fonts/girasans-book-webfont.woff2') format('woff2'),
    url('/fonts/girasans-book-webfont.woff') format('woff'),
    url('/fonts/girasans-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gira Sans';
  src: 
    url('/fonts/girasans-bold-webfont.woff2') format('woff2'),
    url('/fonts/girasans-bold-webfont.woff') format('woff'),
    url('/fonts/girasans-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --magenta: #E371FB;  
  --blue: #127cde;  
  --heading-color: #fef4eb;  
  --text-color: #dbd0c6;
  --bg-color: #0f1012;
  --notjira-color: #4E536A;
  --slider-color: #6A7089;
}

html {
  min-height: 100%;
  border: 1px solid;
  --bg-color: #0f1012;
  border-image-source: linear-gradient(#E371FB,#016ed3,#0f1012);
  border-image-slice: 1;

}
body {
  height: 100%;
  max-width: 1440px;
  position: relative;
}
html,
body {
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 16px;
  font-family: Gira Sans, Helvetica Neue, Roboto, Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--bg-color);
}
  
.content {
  margin: 4em 8em;
  position: relative;
}
.content:after {
  clear: both;
  content: ' ';
  display: block;
}
canvas {
	position: absolute;
	opacity: 0.03;
	z-index: 0;
	pointer-events: none;
	user-select: none;
}

.align-center {text-align: center;}
.left {float: left;}
.right {float: right;}

a,button,svg path,.nav-logo,.content,h2,html,body,.card-image {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a, a h2 {
  display: inline;
  color: var(--magenta);
  text-decoration: none; 
}
a:visited {
  color: var(--magenta);
  text-decoration: none;
}

.h1,h1,.h2,h2 {
  font-weight: bold;
  color: var(--heading-color);
  text-transform: lowercase;
  line-height: 1.4;
}
.p span,p span,.h3,h3 {
  font-weight: 500;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

span.h1 {
  font-size: 5.5em;
  line-height: 1;
}

.h1,h1 {
  font-size: 2.5vw;
}
.h2,h2 {
  font-size: 1.25em;
}

p {
  font-size: 0.75em;
}
.h3,h3 {
  font-size: 0.75em;
}

/*glitch text*/
.glitch{
	position:relative;
	display:flex;
	justify-content:center;
	align-content:center;
	height:100%;
	width:100%;

}

.glitch .text{
  position:relative;
	padding:0;
	margin:0;
}

.glitch span{
  position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100vw;
}

.glitch span:nth-child(2){
	color:var(--magenta);
  margin-left:1.5px;
	margin-top:-1.5px;
  -webkit-filter: blur(.5px);
}
.glitch span:nth-child(3){
	color:var(--blue);
  margin-left:-1.5px;
	margin-top:1.5px;
  -webkit-filter: blur(.5px);
}


.nav {
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
}
.nav-align,.nav > * {
  display: flex;
}
.nav-align {
  align-items: center;
}
.nav-logo {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
  color: var(--magenta);
  text-transform: lowercase;
}

.nav-link-item {
  height: 1.4em;
  margin-left: 2em;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

dfn {
  font-style: normal;
  position: relative;
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 25px;
  left: 0;
  opacity: 0;
  width: 13em;
  color: var(--notjira-color);
  pointer-events: none;
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 250ms, top 250ms;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 82%;
  background-color: var(--blue);
  color: #ffffff;
  font-size: .75em;
  position: absolute;
  z-index: 1;
  top: 100%;
  padding: .75em;}

.margin-med {margin: 13em 0;}
.margin-top {margin: 4em 0 0;}
.margin-tight {
    margin: 5em 12em;
    text-align: center;
}
.margin-right {margin-right: 4em;}
.margin-left {margin-left: 4em;}

.card {
  position: relative;
  display: -ms-grid;
  display: -ms-grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .5em;
}

.card-image {position: relative;transform: scale(1);}
.card-image:hover {transform: scale(1.05);}

.image {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

a > h3 {color: var(--magenta);}
a:hover > h3 {color: var(--blue);}

/*MASKS*/
.mask-1 {
  -webkit-mask-image: url(img/masks/mask-1.svg);
  mask-image: url(img/masks/mask-1.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}
.mask-2 {
  -webkit-mask-image: url(img/masks/mask-2.svg);
  mask-image: url(img/masks/mask-2.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}
.mask-3 {
  -webkit-mask-image: url(img/masks/mask-3.svg);
  mask-image: url(img/masks/mask-3.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}
.mask-4 {
  -webkit-mask-image: url(img/masks/mask-4.svg);
  mask-image: url(img/masks/mask-4.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}
.mask-5 {
  -webkit-mask-image: url(img/masks/mask-5.svg);
  mask-image: url(img/masks/mask-5.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}

.item img,.item video {width: 100%; display: block; border-radius: 3px;}

.button-margin {margin: 1em 0 2.5em;}

button {
  padding: .4em 1.4em;
  color: var(--magenta);
  border: 3px solid var(--magenta);
  background-color: transparent;
  border-radius: 3px;
}

hr {border: 0;
    width: 100%;
    height: 1px;
    background: var(--bg-color);
    background-image: linear-gradient(90deg, #E371FB,#016ed3);
    margin: unset;
    margin: 1em 0;
}
hr.reverse {background-image: linear-gradient(270deg, #E371FB,#016ed3);
}

ul,li {
    list-style-type: none;
    padding-left: 0;
}

.col-1,.col-2,.col-3,.col-4 {
  display: grid;
  gap: 1.25em;
  grid-auto-rows: minmax(min-content, max-content);
}
main>.col-1 {margin-top: 4em;}
.col-1-filters {
  display: grid;
  column-gap: 1.25em;
  grid-auto-rows: minmax(min-content, max-content);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.card.col-2 {
  gap:4em;
}
.col-2-desc {
  display: grid;
  grid-template-columns: repeat(1,2fr 1fr);
  gap: 8em;
  padding: 1em 2em;
}

.gradient-box {
  padding: 2em 12em 2em 2em;
  margin-bottom: 1em;
  /*border-right: 1px solid;
  border-image-source: linear-gradient(#E371FB,#016ed3,#0f1012);
  border-image-slice: 1;*/
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity:  1;}
}

.icon {
  padding-right: .25em;
  height: 20px;
  filter: invert();
}

.about-parent {
  display: flex;
  margin: auto -1rem 1rem;
  align-items: center;
}

.col {
  margin: 0 1em;
}

.sidebar {
  flex: 1;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.overlay {
  opacity: 0;
  margin: -7em 5em 0;
}

#rotatingImage {
  width: 100%;
  /*border: 2px solid #ddd;  Add a border for better visibility */
  border-radius: 50%; /* Make it circular */
  animation: rotate 6s linear infinite; /* Rotate animation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  bottom: 0;
  width: 100%;
  margin: 10em 0 1em;
}
.spacer {margin: 4em 0;}

@media (hover: hover) {
    dfn:hover {
      z-index: 2;
    }
    dfn:hover::after,dfn:hover::before {
    opacity: 1;
    }  
    dfn:hover::after {
        top: 46px;
    }
    dfn:hover::before {
        top: 20px;
    }
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    a:hover {
        color: var(--blue);
    }
    button:hover {
        text-decoration: none;
        background: var(--blue);
        border: 3px solid var(--blue);
        color: #fff;
    }
    
}

@media screen and (min-width: 1600px) {
  .content {    margin: 4em 1em;}
  span.h1 {  font-size: 6.5em;}
}
@media screen and (max-width: 991px) {
  .content {margin: 2em 2em;}
  .col-2-desc {gap: 3em;}
  .about-parent {flex-direction: column; align-items: center;}
  .sidebar {text-align: center;}
  .gradient-box {border-right: none; padding: 2em;}
  span.h1 {  font-size: 4em;}
  #rotatingImage {width: 75%;}
}
@media screen and (max-width: 767px) {
  .content {margin: 2em 1em;}
  .col-3,.col-4 {grid-template-columns: repeat(1, 1fr);}
  .nav {justify-content: center;}
  .nav-logo {padding-right: .5em;}
  .nav-align {align-items: center;}
  .margin-left {margin: 1.5em;}
  .margin-tight {margin: 5em 0;}
  .margin-right {margin: 0 1em;}
  h1,.nav-logo {font-size: 1.8em;}
  h1 span,p span,a h2 {text-align: center;display: block;}
  .about-parent {flex-direction: column;text-align: center;}
  .item video {width: 75%; margin: 0 auto;}
}
@media screen and (max-width: 553px) {
  .col-2,.col-3,.col-2-desc {grid-template-columns: repeat(1, 1fr);}
  .col-2-desc {gap: 1em;}
  h1 span {font-size: 1.15em; line-height: 1.5;}
  h1,.nav-logo {font-size: 1.8em;}
  h2 {font-size: 1em;}   
}

@media screen and (max-width: 375px) {
  .content {margin: 2em .5em;}
  .nav-logo {padding-right: .3em;}
  .margin-left, .margin-right {margin: 1em;}
  p.nav-align {text-align: center;}
}