<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="content">

    {% include nav.html %}
  <div class="container margin-top">
    <!--INTRO TEXT-->
<hr>
<section class="col-2-desc">
    <div>
        <h3>{{ page.title }}</h3>
        <p>{{ page.overview }}</p>
    </div>
    <div>
    <h3>Tools Used</h3>
    <p>{{ page.tools }}</p>
    </div>
</section>
<hr class="reverse">
  </div>
    {{content}}
    
  <div class="spacer"></div>

    {% include footer.html %}

    </div>

    <script>{% include color-toggle.js %}</script>
    <script>{% include animation.js %}</script>
    <script>{% include key-nav.js %}</script>
  </body>
</html>
